<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>false</withJansi>
        <encoder>
            <pattern>%date %highlight(%-5level) %cyan(%logger{10}@[%-4.30thread]) - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="com.github.kokorin.jaffree.ffprobe.FFprobeLogReader" level="DEBUG"
            additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="com.github.kokorin.jaffree.ffmpeg.FFmpegStopper" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="com.github" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
</configuration>
